@font-face {
    font-family: njnaruto;
    src: url("../fonts/njnaruto.ttf");
}

body {
    background-color: rgb(255, 166, 0);
    margin-top: 130px;
}

details,summary{
    outline: none;
    user-select: none;
}

details {
    cursor: pointer;
    width: 500px;
    margin: 5px auto;
    background: rgba(12, 12, 224, 0.89);
    transition: .6s ease;
    border-radius: 5px;
}

details:hover {
    opacity: 0.9;
}

summary {
    color: aliceblue;
    padding: 18px;
    font-size: 20px;
    font-family: njnaruto;
    justify-content: space-between;
    display: flex;
}

details summary::after {
    content: "+";
    font-size: 20px;
}

details[open] summary::after{
    content: "-";
    font-size: 20px;
}

details p {
    margin-left: 19px;
    text-align: justify;
    color: aliceblue;
    font-family: roboto;
    font-size: 18px;
}

details[open] {
    background: black;
}


ul li{
	padding: 3px 0px;
    margin-left: 50px;
    font-family: roboto;
    font-style: italic;
    font-size: 16px;
    color: aliceblue;
}

